@page "/"

<PageTitle>Condottiere</PageTitle>

<div class="max-w-3xl mx-auto px-4 md:px-8">

    <CascadingValue Value="this">
        @if (game is not null)
        {
            @foreach (var player in game.Turn.Players)
            {
                <div class="flex justify-between items-center">
                    <span>
                        @player.Name
                    </span>
                    <span>
                        @player.Points(gameContext)
                    </span>
                </div>
            }
        }
    </CascadingValue>
</div>

@code {

    private GameContext gameContext = new GameContext(4, new SpringOptions(), new BishopOptions());
    private Game? game;

    protected override void OnInitialized()
    {
        game = new Game(gameContext);
    }
}