<footer class="text-red-600">
    <div class="bg-red-100">
        <div class="max-w-3xl py-3 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <span class="ml-3 text-sm">Condottiere</span>
            </a>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="ml-3 text-red-500" title="Boardgamegeek card" href="https://boardgamegeek.com/boardgame/112/condottiere" target="_blank">
                    <LinkIcon />
                </a>
                <a class="ml-3 text-red-500" title="Source code" href="https://github.com/Middlederg/condottiere" target="_blank">
                    <GithubIcon />
                </a>
            </span>
        </div>
    </div>
</footer>

@code {

}
